/* 
* {
    box-sizing: border-box;
} 
*/

body {
    background: orange;
  }

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

a:hover {
    color: purple
}

li {
    list-style: none;
    font-size: 20px;
}

/*///////////// NAVIGATION //////////////////////////*/

nav {
    text-align: center;
    border-style: dotted
    border-color: black;
}


/*///////////// BUTTON //////////////////////////*/
#wordz {
    background-color: #b953b9;
    color: white;
    padding: 15px 32px;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#wordz:hover, #wordz:active {
    /* swap colors */
    color: #EBF5FF;
    background-color: #4312AE;
    cursor: pointer; /* displays hand */
  }